<%= simple_form_for(@comment) do |f| %>
  <div class="form-inputs">
    <%= f.input :content, required: true %>
    <%= f.hidden_field :item_id, required: true, value: @item.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>