<div class="text-center landing_title">
  <%= link_to "Helping to Improve Quality", items_path, class: "btn btn-alert btn-lg btn-landing" %>
</div>
 <div class="col-md-4">
  <%= pie_chart Item.group(:name).count  %>
  <p>Know how many items you have.<p>
</div>
