<!DOCTYPE html>
<html>
  <head>
    <link href="site.css" rel="stylesheet" type="text/css">
    <title>First test</title>
  </head>
  <body>
    <div class="first">
      <h1>Simple 2 column CSS layout, final layout</h1>
    </div>
    <div class+"second">
      <a href="">Option 1</a>
      <a href="">Option 2</a>
      <a href="">Option 3</a>
      <a href="">Option 4</a>
    </div>
    <div class="col-lg-8">
      <h1>Column 1</h1>
      <br/>
      <a href="">456 Berea Street Home</a>
      <a href="">Simple 2 column CSS layout</a>
  </body>
</html>